.junte-se {
  position: relative;
  width: 100%;
  height: max-content;
  background: linear-gradient(to bottom, #D6D2DC 365px, #fff 365px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.junte-se-cont {
  display: grid;
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.junte-se-cont h2 {
  margin-top: 46px;
  font-size: 3.125rem;
  font-family: var(--font2);
  color: #15043e;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

.junte-se-cont p {
  font-family: var(--font3);
  color: #15043E;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.125rem;
  line-height: 1.55rem;
}

.junte-se-blocos {
  display: flex;
  justify-content: space-between;
}

.bloco-infos {
  display: grid;
  box-shadow: 0px 5px 10px -1px rgba(82, 60, 134, 0.20);
  max-width: 380px;
  background: #fff;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px 36px 62px 36px;
}

.bloco-infos img {
  width: 180px;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
}

.bloco-infos h3 {
  margin-right: auto;
  margin-left: auto;
  font-family: var(--font2);
  font-size: 1.875rem;
  line-height: 1.875rem;
  margin-top: 20px;
  color: #15043E;
}

.bloco-infos p {
  font-family: var(--font3);
  font-size: 1.125rem;
  text-align: center;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  color: #15043E;
}

.bloco-infos:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width:1200px) {
  .junte-se-cont h2 {
    font-size: 2.125rem;
    font-family: var(--font2);
    line-height: 2rem;
  }
  .junte-se-blocos {
    gap: 20px;
  }
  .bloco-infos:hover {
    transform: scale(1);
  }
}

@media (max-width: 940px) {
  .junte-se-blocos {
    display: grid;
    margin-right: auto;
    margin-left: auto;
  }
  .bloco-infos {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .bloco-infos h3 {
    font-size: 1.875rem;
  }
  .junte-se-cont p {
    font-size: 1rem;
  }
}