* {
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
}

input {
  border: none;
  padding: initial;
  margin: initial;
  font-size: initial;
  font-family: initial;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  outline: none;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --font1: 'Roboto', sans-serif;
  --font2: "Roboto Flex", sans-serif;
  --font3: "Raleway", sans-serif;
  --font4: 'Poppins', sans-serif;
}

body {
  background: #25122C;
}

li:visited {
  color: initial; 
  background-color: unset;
}

.dn {
  display: none;
}

::selection {
  background-color: #a894db; 
}

.palestrantes-busca, .pl-swiper-cont, .impacto-desc, .impacto-img {
  visibility: hidden;
}

body {
  overflow-x: hidden;
}
